* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1, h2, h3 {
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    letter-spacing: 5px;
}

p {
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    letter-spacing: 5px;
}

nav {
    top: 0;
    z-index: 1;
    position: sticky;
    background-color: sienna;
}

nav ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style-type: none;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    text-align: center;
    padding: 15px 20px;
    font-size: xx-large;
    text-decoration: none;
    color: antiquewhite;
}

nav li #visiting {
    background-color: saddlebrown;
}

nav li a:hover {
    background-color: brown;
}

header {
    float: left;
    position: relative;
    width: 40%;
}

header img {
    width: 100%;
}

header .description {
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    letter-spacing: 5px;
    color: aliceblue;
    background-color: brown;
}

section {
    float: left;
    width: 60%;
    background-color: cornsilk;
}

.event {
    width: 100%;
}

.sub-header {
    padding-block: 20px;
    width: 100%;
    background-color: darksalmon;
}

table {
    text-align: left;
    position: relative;
    width: 100%;
    border-collapse: collapse;
    background-color: lemonchiffon;
}

td, th {
    border: 1px solid black;
    padding: 20px;
}

th {
    top: 0;
    padding: 10px;
    position: sticky;
    border-radius: 0;
    background: brown;
    color: white;
}

td:hover {
    background-color: linen;
}
